body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em 0;
}

section {
  margin: 2em auto 0;
  padding: 0 20px;
}

#front_container {
  background-color: aqua;
  height: 100vh;
  margin: 0;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

#front_headline {
  color: black;
  font-size: 50px;
}

.project {
  margin-bottom: 40px;
}

.project img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
  bottom: 0;
  width: 100%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

/* Links inside the navbar */
.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.navbar a:first-child {
  float: left;
}


#job-title {
  font-size: 2em;
  margin-top: 10px;
  text-align: center;
  color: black;
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#about,
#contact {
  height: 400px;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
}

#projects {
  height: 800px;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.projects_gallery {
  padding: 0 10%;
  border: 5px;
  width: 10%;
  height: auto;
  float: left;
}

.projects_gallery:hover {
  border: 1px solid #777;
}

.projects_gallery img{
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.btn {
  background-color: #333;
  border: none;
  color: #f4f4f4;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}


#about {
  text-align: center;
  background-color: aquamarine;
  width: 100%;
}

.services_table {
  width: 30%;
  margin: 20px auto;
}


#services {
  height: 400px;
  padding: 20px;
  margin: 0;
  width: 100%;
  text-align: center;
}

th {
  width: 120px;
}

.mid {
  text-align: center;
}

#contact_btn {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}